.html{
    box-sizing:border-box
}
*,
*::before,
*::after
{
    box-sizing:inherit;
}
*{
    font-family:"Times New Roman", Arial, Helvetica, sans-serif;
}
.home-heading{
    height:100px;
}
.home-heading h1{
    font-style:bold;
    font-size:50px;
    text-align:center;
    padding: 10px 0px;
}

.home-odin{
    display:block;
    width:90%;
    height:auto;
    margin:auto;
}
.recipe-list{
    padding:20px;
    margin:20px;
}
.recipe-list ul{
    margin:auto;
    color:black;
    display:inline-block;
}
.recipe-list li{
    margin:5px;
    padding:10px;
}
.recipe-list a{
    text-decoration:none;
    color:black;
}
.recipe-list ul li:hover{
    font-weight: bold;
    background-color:rgb(189, 189, 189);
    cursor:pointer;
}
